[submodule "repo/indentlog"]
	path = repo/indentlog
	url = git@github.com:Rconybea/indentlog.git
[submodule "repo/refcnt"]
	path = repo/refcnt
	url = git@github.com:Rconybea/refcnt.git
[submodule "repo/subsys"]
	path = repo/subsys
	url = git@github.com:Rconybea/subsys.git
[submodule "repo/reflect"]
	path = repo/reflect
	url = git@github.com:Rconybea/reflect.git
[submodule "repo/xo-cmake"]
	path = repo/xo-cmake
	url = git@github.com:Rconybea/xo-cmake.git
[submodule "repo/randomgen"]
	path = repo/randomgen
	url = git@github.com:Rconybea/randomgen.git
[submodule "repo/xo-ordinaltree"]
	path = repo/xo-ordinaltree
	url = git@github.com:Rconybea/xo-ordinaltree.git
